.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  background-color: #31CB8D;
  color: white;
}

.firstGreeting {
  text-align: left;
}

.hello {
  color: #2F3E46;
  font-size: 6vw;
  margin: 0;
}

.myname {
  font-size: 4vw;
  margin: 0;
}

.summary {
  width: 50vw;
  text-align: left;
  font-size: 25px;
}

.connect {
  text-decoration: none;
  color: #2F3E46;
  font-size: 30px;
  padding: 8px 8px;
  border-radius: 10px;
  transition: 150ms ease-in-out;
}

.connect:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1.2);
}