.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #31CB8D;
  color: white;
}

.firstGreeting {
  text-align: left;
}

.hello {
  color: #2F3E46;
  font-size: 6vw;
  margin: 0;
}

.myname {
  font-size: 4vw;
  margin: 0;
}

.summary {
  width: 50vw;
  text-align: left;
  font-size: 25px;
}

.connect {
  text-decoration: none;
  color: #2F3E46;
  font-size: 30px;
  padding: 8px 8px;
  border-bottom: 3px transparent solid;
  transition: 150ms ease-in-out;
}

.connect:hover {
  border-bottom: 3px #2F3E46 solid;
  transform: translateY(-5px);
}