.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.myProjects {
  font-size: 6vw;
}

.eac {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  height: 700px;
  margin-bottom: 20px;
}

.wikiMaps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  height: 700px;
  margin-bottom: 20px;
}