.navbar {
  height: 8vh;
  background-color: #2F3E46;
  color: #CAD2C5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vh;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.letter {
  display: flex;
  text-decoration: none;
  color: white;
  transition: 150ms ease-in-out;
}

.name {
  text-align: left;
  width: 0px;
  overflow: hidden;
  transition: 150ms ease-in-out;
}

.letter:hover .name {
  width: 70px;
  overflow: visible;
}

.pageLinks {
  width: 375px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.anchorLink {
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: 200ms ease-in-out;
}

.anchorLink:hover {
  margin-top: -0.5vh;
  border-bottom: white 2px solid;
}